!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    %link(rel="stylesheet" type="text/css" href="site.css")
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    %script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js")
    %script(src="script.js")
  %body
    .container
      %h1 Upload new file
      .row
        .col-sm-10
          %form#upload(enctype="multipart/form-data" action="/upload" method ="post")
            %input(name="file" type="file")
            %input.btn.btn-default(type="submit" value="Upload")
        .col-sm-2#versioning
          Versioning: #{@versioning_status}
    .container
      %h1 Existing files
      .row
        .col-sm-7
        .col-sm-5
          .input-group
            %span.input-group-addon Filter Prefix
            %input#prefix.form-control(type="text")
      %table.table.table-hover
        %thead
          %tr
            %th.col-s-6 Filename
            %th.col-s-2 Date
            %th.col-s-2 Size
            %th.col-s-2 Action
        %tbody#files
      #nomore No more results.
      %img#loader.img-responsive.img-center(src="loader.gif")
    = haml :modal