!!! 5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="bootstrap.min.css")
    %script(src="jquery.min.js")
    %script(src="bootstrap.min.js")
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")

  %body
    .container
      %h1 Upload new file
      .row
        %form#upload(enctype="multipart/form-data" action="/upload" method ="post")
          %input(name="file" type="file")
          %input(type="submit" value="Upload")
      
    .container
      %h1 Existing files
      %table.table
        %thead
          %tr
            %th Filename
            %th Size
            %th Action
        %tbody
        - @objects.each do |o|
          %tr
            %td #{o[:key]}
            %td #{o[:size]}
            %td
              %a(href="https://www.google.com") Download

