!!! 5
%html
  %head
    %script(src="jquery.min.js")
    %script(src="bootstrap.min.js")
    %script(src="script.js")
    %link(rel="stylesheet" type="text/css" href="bootstrap.min.css")
    %link(rel="stylesheet" type="text/css" href="site.css")
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
  %body
    .container
      %h1 Upload new file
      .row
        .col-sm-10
          %form#upload(enctype="multipart/form-data" action="/upload" method ="post")
            %input(name="file" type="file")
            %input.btn.btn-default(type="submit" value="Upload")
        .col-sm-2#versioning
          Versioning: #{@versioning_status}
    .container
      %h1 Existing files
      %table.table.table-hover#files
        %thead
          %tr
            %th.col-s-6 Filename
            %th.col-s-2 Date
            %th.col-s-2 Size
            %th.col-s-2 Action
        %tbody
      %img#loader.img-responsive.img-center(src="loader.gif")
    = haml :modal