!!! 5
%html
  %head
    %script(src="jquery.min.js")
    %script(src="bootstrap.min.js")
    %script(src="script.js")
    %link(rel="stylesheet" type="text/css" href="bootstrap.min.css")
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
  %body
    
    .container
      %h1 Upload new file
      .row
        %form#upload(enctype="multipart/form-data" action="/upload" method ="post")
          %input(name="file" type="file")
          %input.btn.btn-default(type="submit" value="Upload")
    .container
      %h1 Existing files
      %table.table#files
        %thead
          %tr
            %th.col-xs-7 Filename
            %th.col-xs-3 Date
            %th.col-xs-1 Size
            %th.col-xs-1 Action
        %tbody
      %button.btn.btn-default(type="button" id="loadmore") Load more
