#versions-modal.modal.fade(role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(type="button" data-dismiss="modal") &times;
        %h4.modal-title Object Versions
      .modal-body
        %table.table.table-condensed
          %thead
            %tr
              %th.col-xs-6 Date
              %th.col-xs-2 Size
              %th.col-xs-4 Action
              %tbody#versions
        %img#versionloader(src="loader.gif")